@model ItemDisplayVM[]
@*@{
        ViewData["Title"] = "_PartialItemList";
        Layout = "_UserLayout";
    }*@
<canvas id="myChart" width="400" height="100"></canvas>

    <div class="text-lg-center container">
        <h2>Så här mycket har du slängt den senaste veckan:</h2>
        <ul>
            @foreach (var item in Model)
            {
                <li>@item</li>
            }
        </ul>
    </div>