@model ItemDisplayVM[]

@*@{
    ViewData["Title"] = "_PartialItemList";
    Layout = "_UserLayout";
}*@

    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Type</li>
        }
    </ul>
