@model ItemDisplayVM[]
@*@{
        ViewData["Title"] = "_PartialItemList";
        Layout = "_UserLayout";
    }*@

@*@if (Model.Length <= 0)
    {
        <p>
            Du har inte slängt någonting, bra jobbat @Context.User.Identity.Name!
        </p>
    }
    else
    {
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.Type</li>
            }
        </ul>
    }*@

@foreach (var item in Model)
{
    <li>@item.Type</li>
}