@model ItemDisplayVM[]

<div class="text-lg-center container">
    <h2>Så här mycket har du slängt den senaste veckan:</h2>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item</li>
        }
    </ul>
</div>
<div>
    <a asp-controller="item" asp-action="overview" class="btn btn-primary btn-xl rounded-pill mt-5">Översikt</a>
</div>