@model ItemFormVM

<div class="text-lg-center container">
    <h1>Lägg till slängd mat</h1>
    <div class="dropdown item-form">
        <form asp-controller="item" asp-action="form">
            <div class="form-group align-items-center">
                <label asp-for="FoodItem"></label>
                <select asp-for="SelectedFoodValue"
                        asp-items="Model.FoodItem" class="form-control" ></select>
                <span asp-validation-for="SelectedFoodValue"></span>
                <br />
                <label asp-for="Amount"></label>
                <input asp-for="Amount" type="number" min="0.1" max="999" class="form-control" />
                <span asp-validation-for="Amount"></span>
                <br />
                <label asp-for="ItemWeightMeasurement"></label>
                <select asp-for="SelectedWeightValue"
                        asp-items="Model.ItemWeightMeasurement" class="form-control"></select>
                <span asp-validation-for="SelectedWeightValue"></span>
                <br />
                <label asp-for="DateOfInput"></label>
                <input asp-for="DateOfInput" type="date" class="form-control" />
                <span asp-validation-for="DateOfInput"></span>
                <br />

                <button type="submit" class="btn btn-primary">Släng</button>
            </div>
        </form>
    </div>
</div>