@model ItemDisplayVM[]
@*@{
        ViewData["Title"] = "_PartialItemList";
        Layout = "_UserLayout";
    }*@

<div class="text-lg-center container">
    <h2>Så här mycket har du slängt den senaste veckan:</h2>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Type, @item.AmountKg Kg, borttaget @item.Date</li>
        }
    </ul>
</div>


<canvas id="myChart" width="400" height="100"></canvas>