@model ItemAddVM
@{
    ViewData["Title"] = "AddItem";
}

<partial name=_PartialViewForm model=Model.FormVM />

@*<partial name=_PartialItemList model=Model.ItemList />*@

@if (Model.ItemList.Length <= 0)
{
    <p>
        Du har inte slängt någonting, bra jobbat @Context.User.Identity.Name!
    </p>
}
else
{
    <ul>
        <partial name=_PartialItemList model=Model.ItemList />
    </ul>
}

@section scripts {
    <partial name="_PartialValidationScripts" />
}