@model ItemAddVM
@{
    ViewData["Title"] = "AddItem";
}

<div class="d-flex">
    <partial name=_PartialViewForm model=Model.FormVM />

    <div class="text-lg-center container">
        @if (Model.ItemList.Length <= 0)
        {
            <p>
                Det verkar som att du inte har slängt någonting ännu, bra jobbat @Context.User.Identity.Name!
            </p>
        }
        else
        {
            <ul>
                <partial name=_PartialItemList model=Model.ItemList />
            </ul>
        }
    </div>
</div>

@section scripts
{
    <partial name="_PartialValidationScripts" />
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Fisk', 'Frukt', 'Färdigmat', 'Grönsaker', 'Konserver', 'Kött', 'Mejeriprodukter', 'Rotfrukter', 'Spannmål', 'Övrigt'],
                @*labels: [@for (int i = 0; i < itemList.Length; i++)
                {
                    @Html.Raw("'" + itemList[i].Type + "'" + (i<itemList.Length-1? ", ": string.Empty))
                }],*@

                datasets: [{
                label: 'Slängd mat i g',
                    data: [@{
                        double fiskAmount = 0;
                        double fruktAmount = 0;
                        double färdigmatAmount = 0;
                        double grönsakerAmount = 0;
                        double konserverAmount = 0;
                        double köttAmount = 0;
                        double mejeriprodukterAmount = 0;
                        double rotfrukterAmount = 0;
                        double spannmålAmount = 0;
                        double övrigtAmount = 0;

                        foreach (var item in Model.ItemList)
                        {
                            switch (item.Type)
                            {
                                case ProductType.Fisk:
                                    break;
                                case ProductType.Frukt:
                                    break;
                                case ProductType.Färdigmat:
                                    break;
                                case ProductType.Grönsaker:
                                    break;
                                case ProductType.Konserver:
                                    break;
                                case ProductType.Kött:
                                    break;
                                case ProductType.Mejeriprodukter:
                                    mjölkAmount += item.Amount;
                                    break;
                                case ProductType.Rotfrukter:
                                    break;
                                case ProductType.Spannmål:
                                    break;
                                case ProductType.Övrigt:
                                    break;
                                default:
                                    break;
                            }
                            //if (item.Type == "Mjölk")
                            //{
                            //}
                            //else if (item.Type == "Kött")
                            //{
                            //    köttAmount += item.Amount;
                            //}
                            //else if (item.Type == "Frukt")
                            //{
                            //    fruktAmount += item.Amount;
                            //}
                        }
                        }@fiskAmount, @köttAmount, @fruktAmount],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
}