@model ItemAddVM
@{
    ViewData["Title"] = "AddItem";
}

<div class="d-flex">
    <partial name=_PartialViewForm model=Model.FormVM />

    <div class="text-lg-center container">
        @if (Model.ItemList.Length <= 0)
        {
            <p>
                Det verkar som att du inte har slängt någonting ännu, bra jobbat @Context.User.Identity.Name!
            </p>
        }
        else
        {
            <ul>
                <partial name=_PartialItemList model=Model.ItemList />
            </ul>
        }
    </div>
</div>

@section scripts
{
    <partial name="_PartialValidationScripts" />
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                //labels: ['Red', 'Blue'],
                @{ var itemList = Model.ItemList;}
                labels: [@for (int i = 0; i < itemList.Length; i++)
                {
                    @Html.Raw("'" + itemList[i].Type + "'" + (i<itemList.Length-1? ", ": string.Empty))
                }],


                datasets: [{
                label: 'Slängd mat i g',
                    data: [@for (int i = 0; i < itemList.Length; i++)
                    {
                        @Html.Raw(itemList[i].Amount*1000 + (i<itemList.Length-1? ", ": string.Empty))
                    }],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
}