@model UserSignUpVM
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "SignUp";
}
<div class="signup text-lg-center container">
    <h3>Registrera dig</h3>
    <form asp-controller="user" asp-action="SignUp">
        <div class="form-group align-items-center" @*width="300px" *@>
            <div class="col-5 justify-content-center align-items-center container">
                <label asp-for="Username"></label>
                <input asp-for="Username" type="email" class="form-control" />
                <span asp-validation-for="Username"></span>
            </div>
            <br />
            <div class="col-5 justify-content-center align-items-center container">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" type="text" class="form-control" />
                <span asp-validation-for="FirstName"></span>
            </div>
            <br />
            <div class="col-5 justify-content-center align-items-center container">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" type="text" class="form-control" />
                <span asp-validation-for="LastName"></span>
            </div>
            <br />
            <div class="col-5 justify-content-center align-items-center container">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <br />
            <div class="col-5 justify-content-center align-items-center container">
                <label asp-for="PasswordRepeat"></label>
                <input asp-for="PasswordRepeat" type="password" class="form-control" />
                <span asp-validation-for="PasswordRepeat"></span>
            </div>
            <br />
            <div class="g-recaptcha col-4 justify-content-center align-items-center container" data-sitekey=@Configuration["GoogleReCaptcha:key"]></div>
            <br />
            <span asp-validation-for="ReCAPTCHA"></span>
            <br />
            @*<div class="form-check mb-2 mr-sm-2">
                    <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                    <label class="form-check-label" for="inlineFormCheck">
                        Kom ihåg mig
                    </label>
                </div>*@
            <button type="submit" class="btn btn-primary">Registera</button>
        </div>
    </form>
    <div asp-validation-summary="All"></div>
</div>
@section scripts {
    <partial name="_PartialValidationScripts" />
    <partial name="_PartialReCAPTCHAScripts" />
}
