<div class="card bg-light text-dark m-2" style="width: 18rem; min-height: 13rem">
    <div class="card-header">Källsortera</div>
    <img class="card-img-top" src="~/images/40261copy.jpg" alt="Card image" style="opacity: .2">
    <div class="card-body card-img-overlay">
        <div class="card-text pt-5">
            @*<h5 class="card-title">Danger card title Test</h5>*@
            <p class="card-text">Du kan minska matsvinnet mycket bara genom hur du lagar och framförallt planerar din matlagning. Håll koll på vad du har för råvaror som behöver lagas innan de blir dåliga. Googla de råvaror du har så hittar du massa smaskiga recept.</p>
        </div>
    </div>
</div>