@model InfoAboutVM[]

<h1>About</h1>


@foreach (var item in Model)
{
    <img src="@item.Image" width="300" />
    <h2>@item.Name</h2>
    <p>@item.Description</p>

}

@*<a asp-controller="info" asp-action="contact">Kontakta oss</a>*@


