@model InfoAboutVM[]
    <div class="about">
        <h1>Om Mealsaver</h1>

        <h2> Rädda bra mat från att slängas</h2>
        <p> ⅓ av all mat som produceras slängs. Med wasteland-appen kan du optimera dina matinköp. Det är bra både för miljön och din plånbok.</p>

        <h3>Wastelands grundare:</h3>
        @foreach (var item in Model)
        {
            <img src="@item.Image" width="300" />
            <h2>@item.Name</h2>
            <p>@item.Description</p>

        }

        @*<a asp-controller="info" asp-action="contact">Kontakta oss</a>*@
    </div>


