@model InfoAboutVM[]

    <div class="about text-lg-center container">
        <h1>Om Mealsaver</h1>
        <br />

        <h2 class="masthead-heading mb-0"> Vi vill rädda bra mat från att slängas</h2>
        <br />
        <p> En tredjedel av all mat som produceras slängs. En stor del av denna mat når aldrig konsumenterna, men av den som gör det går ungefär var femte matkasse som köps direkt i soporna. Detta vill vi ändra på. </p>
        <p>Vi vill hjälpa dig att optimera dina matinköp genom att hålla koll på vad du slänger mest av. På så sätt kan du hitta sätt att ändra dina köp- och slängvanor och få tips på hur du kan tillaga och använda den mat du har i kylen. Men WasteLand-appen kan göra just detta. Det bästa av allt är att det är bra både för miljön och din plånbok.</p>
        <br />

        <h3>Wastelands grundare:</h3>

        <div class="d-flex justify-content-around flex-wrap">
            @foreach (var item in Model)
            {
                <div class="p-2 bd-highlight" style="max-width: 300px">
                    <img src="@item.Image" width="300" />
                    <h2>@item.Name</h2>
                    <p>@item.Description</p>
                </div>
            }
        </div>

        <div>
            <a asp-controller="info" asp-action="contact" class="btn btn-primary btn-xl rounded-pill mt-5">Kontakta oss</a>
        </div>
        <br />
    </div>


