@model InfoContactVM
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="text-lg-center container">
    <h1>Kontakta oss</h1>
    <p>Vi är intresserade att veta vad du har på hjärtat. Besök oss, mejla eller skriv din fråga i kontaktformuläret!</p>
    <form asp-controller="info" asp-action="contact" method="post">
        <div class="form-group align-items-center">
            <div class="col-4 justify-content-center align-items-center container">
                <label asp-for="Name"></label>
                <input asp-for="Name" type="text" class="form-control" />
                <span asp-validation-for="Name"></span>
            </div>
            <br />
            <div class="col-4 justify-content-center align-items-center container">
                <label asp-for="Email"></label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
            <br />
            <div class="col-4 justify-content-center align-items-center container">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description"></span>
            </div>
            <br />
            <div class="g-recaptcha col-4 justify-content-center align-items-center container" data-sitekey=@Configuration["GoogleReCaptcha:key"]></div>
            <br />
            <span asp-validation-for="ReCAPTCHA"></span>
            <br />
            <button type="submit" class="btn btn-primary">Skicka</button>
        </div>
    </form>
    <br />
    <div>
        <h5>Postadress</h5>
        <p>
            Miljögatan 14 <br />
            12345 Miljöstad
        </p>

        <h5>Mejla oss</h5>
        <p>
            E-post: mealsaver@mail.com <br />
        </p>
    </div>

</div>
@section scripts {
    <partial name="_PartialValidationScripts" />
    <partial name="_PartialReCAPTCHAScripts" />
}