@*<div class="d-flex justify-content-center">
    <h2 class="display-4">Hur funkar det?</h2>
</div>
<div class="card-group d-flex justify-content-center">
    <div class="card">
        <img class="card-img-top" src="~/images/01.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">1</h5>
            <p class="card-text">Skapa ett konto med e-post, lösenord och namn.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/01.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">2</h5>
            <p class="card-text">Lägg in saker du har slängt.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/01.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">3</h5>
            <p class="card-text">Få relevant information relaterat till dina matvanor så att du kan anpassa dina matinköp. Bra för plånbok och miljö.</p>
        </div>
    </div>
</div>*@

<div class="card-deck d-flex align-items-center">
    <div class="card">
        <img class="card-img-top" src="~/images/01.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">1</h5>
            <p class="card-text">Skapa ett konto med e-post, lösenord och namn.</p>
        </div>
    </div>
    <img style="max-width: 50px; max-height: 50px;" class="m-3" src="~/images/noun_Arrow_2472867.png" alt="Arrow by Travis Avery from the Noun Project" />
    <div class="card">
        <img class="card-img-top" src="~/images/01.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">2</h5>
            <p class="card-text">Lägg in saker du har slängt.</p>
        </div>
    </div>
    <img style="max-width: 50px; max-height: 50px;" class="m-3" src="~/images/noun_Arrow_2472867.png" alt="Arrow by Travis Avery from the Noun Project" />
    <div class="card">
        <img class="card-img-top" src="~/images/01.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">3</h5>
            <p class="card-text">Få relevant information relaterat till dina matvanor så att du kan anpassa dina matinköp. Bra för plånbok och miljö.</p>
        </div>
    </div>
</div>