<h2 class="display-4">Inspiration</h2>
<div class="d-flex flex-wrap">
    <div class="card text-white bg-primary m-2" style="max-width: 18rem;">
        <div class="card-header">Bäst före</div>
        <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card text-white bg-secondary m-2" style="max-width: 18rem;">
        <div class="card-header">Handla och planera</div>
        <div class="card-body">
            <h5 class="card-title">Secondary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card text-white bg-success m-2" style="width: 18rem; height: 13rem">
        <div class="card-header">Testa ditt klimatavtryck</div>
        <div class="card-body">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text" href="https://www.wwf.se/klimat/klimatkalkylatorn/">Länk till WWF:s klimatkalkylator</p>
        </div>
    </div>
    <div class="card text-white bg-danger m-2" style="max-width: 18rem;">
        <div class="card-header">Laga</div>
        <div class="card-body">
            <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card text-white bg-warning m-2" style="max-width: 18rem;">
        <div class="card-header">Recept</div>
        <div class="card-body">
            <h5 class="card-title">Warning card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card text-white bg-info m-2" style="max-width: 18rem;">
        <div class="card-header">Överflöd</div>
        <div class="card-body">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card bg-light m-2" style="max-width: 18rem;">
        <div class="card-header">Odla</div>
        <div class="card-body">
            <h5 class="card-title">Light card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card text-white bg-dark m-2" style="max-width: 18rem;">
        <div class="card-header">Förvara</div>
        <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card text-white bg-primary m-2" style="max-width: 18rem;">
        <div class="card-header">Källsortera</div>
        <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>