<div class="socialMedia d-flex justify-content-center flex-wrap">
    <div class="facebook p-3">
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/sv_SE/sdk.js#xfbml=1&version=v3.3"></script>
        <div class="fb-like" data-href="https://www.facebook.com/WasteLand-432631057557238/" data-width="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>    </div>
    <div class="align-self-center p-3">
        <a href="https://twitter.com/WasteLa14340033?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @@WasteLand</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="align-self-center p-3">
        <a href="https://twitter.com/intent/tweet?screen_name=WasteLa14340033&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @@WasteLand</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="align-self-center p-3">
        <a href="https://twitter.com/intent/tweet?button_hashtag=WasteLa14340033&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #WasteLand</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="align-self-center p-3">
        <script src="https://apis.google.com/js/platform.js"></script>
        <div class="g-ytsubscribe" data-channelid="UCWK_qSnXOveqy32m4FDiNQg" data-layout="default" data-count="default"></div>
    </div>
    <div class="p-3">
        <a asp-controller="info" asp-action="contact" class="btn btn-dark btn-sm rounded-pill">E-mail</a>
    </div>
</div>