<div class="d-flex justify-content-center">
    <h2 class="display-4">Varför Wasteland?</h2>
</div>
<p class="d-flex justify-content-center">
    Med WasteLand-appen kan du optimera dina matinköp. Det är bra både för miljön och din plånbok.
</p>
<div class="d-flex flex-wrap justify-content-center">
    <div class="card text-white bg-secondary m-2 d-flex justify-content-between" style="max-width: 18rem;">
        <div class="card-body">
            <p class="card-text">
                1,3 miljoner ton mat <br />slängs i Sverige, varje år.
            </p>
        </div>
    </div>
    <div class="card text-white bg-secondary m-2 d-flex justify-content-between" style="max-width: 18rem;">
        <div class="card-body">
            <p class="card-text">
                Maten som kastas motsvarar ett <br /> utsläpp på 2 miljoner ton CO2.
            </p>
        </div>
    </div>

    <div class="card text-white bg-secondary m-2 d-flex justify-content-between" style="max-width: 18rem;">
        <div class="card-body">
            <p class="card-text">
                Ungefär hälften av detta är matsvinn <br />– bra mat som hade kunnat ätas.
            </p>
        </div>
    </div>
</div>

@*<div class="sloganContainer d-flex justify-content-between">
        <div class="sloganBox">
            <p class="sloganParagraph">1,3 miljoner ton mat slängs i Sverige, varje år.</p>
        </div>
        <div class="sloganBox">
            <p>Maten som kastas motsvarar ett utsläpp på 2 miljoner ton CO2.</p>
        </div>
        <div class="sloganBox">
            <p>Ungefär hälften av detta är matsvinn – bra mat som hade kunnat ätas.</p>
        </div>
    </div>*@