<p class="d-flex justify-content-center">
    En tredjedel av all mat som produceras slängs. Med wasteland-appen kan du optimera dina matinköp. Det är bra både för miljön och din plånbok.
</p>
<div class="sloganContainer d-flex justify-content-between">
    <div class="sloganBox">
        <p>1,3 miljoner ton mat slängs i Sverige, varje år.</p>
    </div>
    <div class="sloganBox">
        <p>Maten som kastas motsvarar ett utsläpp på 2 miljoner ton CO2.</p>
    </div>
    <div class="sloganBox">
        <p>Ungefär hälften av detta är matsvinn – bra mat som hade kunnat ätas.</p>
    </div>
</div>