<h2 class="display-4">Inspiration</h2>
<div class="d-flex flex-wrap">
    <div class="card text-white bg-primary m-2" style="max-width: 18rem;">
        <div class="card-header">Bäst före</div>
        <div class="card-body">
            @*<h5 class="card-title">Primary card title</h5>*@
            <p class="card-text">
            Mat blir inte farlig efter bäst före-datum om den förvaras rätt. Titta, lukta och smaka på maten. Våga lita på dina sinnen – om maten verkar okej går den bra att äta!
            </p>
        </div>
    </div>
    <div class="card text-white bg-secondary m-2" style="max-width: 18rem;">
        <div class="card-header">Handla och planera</div>
        <div class="card-body">
            @*<h5 class="card-title">Secondary card title</h5>*@
            <p class="card-text">
                Att planera sina matinköp och storhandla kan kännas lika spännande som en ökenvandring, men sparar din tid, pengar och hushåller bättre med jordens resurser.
            </p>
        </div>
    </div>
    <div class="card text-white bg-success m-2" style="width: 18rem; height: 13rem">
        <div class="card-header">Testa ditt klimatavtryck</div>
        <div class="card-body">
            @*<h5 class="card-title">Success card title</h5>*@
            <p class="card-text"/> Testa ditt klimatavtryck med <a href= "https://www.wwf.se/klimat/klimatkalkylatorn" target="_blank">WWF:s klimatkalkylator</a> <br>(öppnas i nytt fönster)</p>
        </div>
    </div>
    <div class="card text-white bg-danger m-2" style="max-width: 18rem;">
        <div class="card-header">Laga</div>
        <div class="card-body">
            @*<h5 class="card-title">Danger card title</h5>*@
            <p class="card-text">Du kan minska matsvinnet mycket bara genom hur du lagar och framförallt planerar din matlagning. Håll koll på vad du har för råvaror som behöver lagas innan de blir dåliga. Googla de råvaror du har så hittar du massa smaskiga recept.</p>
        </div>
    </div>
    <div class="card text-white bg-warning m-2" style="max-width: 18rem;">
        <div class="card-header">Recept</div>
        <div class="card-body">
            @*<h5 class="card-title">Warning card title</h5>*@
            <p class="card-text">
            Här hittar du några tips på recept och inspiration inför din klimatresa: <br />
            </p>
            <ul>
                <li><a href="https://www.ica.se/matsvinn/" target="_blank">ICAs recepttips på klimatsmart mat<br />(öppnas i nytt fönster)</a> </li>
                <li><a href="https://www.svtplay.se/matraddarna" target="_blank">Titta på Klimaträddarna på SVT Play<br />(öppnas i nytt fönster)</a> </li>
            </ul>
        </div>
    </div>
    <div class="card text-white bg-info m-2" style="max-width: 18rem;">
        <div class="card-header">Överflöd</div>
        <div class="card-body">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card bg-light m-2" style="max-width: 18rem;">
        <div class="card-header">Odla</div>
        <div class="card-body">
            <h5 class="card-title">Light card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card text-white bg-dark m-2" style="max-width: 18rem;">
        <div class="card-header">Förvara</div>
        <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card text-white bg-primary m-2" style="max-width: 18rem;">
        <div class="card-header">Källsortera</div>
        <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>