<div class="d-flex justify-content-center">
    <h2 class="display-4 text-center">Inspiration</h2>
</div>
<div class="d-flex flex-wrap justify-content-center container">
    <div class="card text-white bg-primary m-2" style="width: 18rem; min-height: 13rem">
        <div class="card-header">Bäst före</div>
        <div class="card-body">
            @*<h5 class="card-title">Primary card title</h5>*@
            <p class="card-text">
                Släng inte mat bara för att den passerat bäst före-datum – ofta håller den mycket längre om den förvarats rätt. Titta, lukta och smaka på maten. Våga lita på dina sinnen – om maten verkar okej går den bra att äta!
            </p>
        </div>
    </div>
    <div class="card text-white bg-secondary m-2" style="width: 18rem; min-height: 13rem">
        <div class="card-header">Handla och planera</div>
        <div class="card-body">
            @*<h5 class="card-title">Secondary card title</h5>*@
            <p class="card-text">
                Att planera sina matinköp och storhandla sparar tid, pengar och hushåller bättre med jordens resurser. Köp inte mer än vad du tror att du gör av med innan det blir dåligt - köp hellre lite men ofta. Köper du storförpackningar kan du dela upp i mindre förpackningar och frysa in.
            </p>
        </div>
    </div>
    <div class="card bg-light text-black m-2" style="width: 18rem; min-height: 13rem">
        <img class="card-img-top" src="~/images/wwf-logo.png" alt="Card image" style="opacity: .5">
        <div class="card-img-overlay">
            <h4 class="card-header">WWF:s klimatkalkylator</h4>
            <br />
            <a href="https://www.wwf.se/klimat/klimatkalkylatorn/" target="_blank" class="btn btn-primary">Testa ditt klimatavtryck</a>
            @*<p class="card-text">(öppnas i nytt fönster)</p>*@
        </div>
    </div>
    <div class="card text-white bg-danger m-2" style="width: 18rem; min-height: 13rem">
        <div class="card-header">Laga</div>
        <div class="card-body">
            <div class="card-text">
                @*<h5 class="card-title">Danger card title</h5>*@
                <p class="card-text">Du kan minska matsvinnet mycket bara genom hur du lagar och framförallt planerar din matlagning. Håll koll på vad du har för råvaror som behöver lagas innan de blir dåliga. Ta hand om rester – gör en plockmåltid, använd dem i en ny maträtt eller frys in.</p>
            </div>
        </div>
    </div>
    <div class="card text-white bg-warning m-2" style="width: 18rem; min-height: 13rem">
        <div class="card-header">Recept</div>
        <div class="card-body">
            @*<h5 class="card-title">Warning card title</h5>*@
            <p class="card-text">
                Tips på recept och inspiration för hur du kan minska ditt matsvinn: <br />
            </p>
            <ul>
                <li><a href="https://www.ica.se/matsvinn/" target="_blank">ICAs recepttips på klimatsmart mat<br />(öppnas i nytt fönster)</a> </li>
                <li><a href="https://www.svtplay.se/matraddarna" target="_blank">Titta på Klimaträddarna på SVT Play<br />(öppnas i nytt fönster)</a> </li>
            </ul>
        </div>
    </div>
    <div class="card text-white bg-info m-2" style="width: 18rem; min-height: 13rem">
        <div class="card-header">Överflöd</div>
        <div class="card-body">
            @*<h5 class="card-title">Info card title</h5>*@
            <p class="card-text">Har du för mycket av något som du inte vet vad du ska göra av? Fundera på om du kan förlänga hållbarheten genom att frysa ner, tillreda, safta eller sylta. En burk vinbärsgelè kan bli en fin present!</p>
        </div>
    </div>

    <div class="card text-white bg-success m-2" style="width: 18rem; min-height: 13rem">
        <div class="card-header">Odla</div>
        <img class="card-img-top" src="~/images/tomatoes-3702942_1920copy.jpg" alt="Card image" style="opacity: .5">
        <div class="card-body card-img-overlay">
            @*<div class="card-text pt-5">*@
            @*<h5 class="card-title">Danger card title</h5>*@
            <p class="card-text pt-5">Att odla sin egen mat är enklare än det låter. Att odla i pallkrage på tomten, balkonglåda, på kolonilott eller i urban miljö är lätt, billigt och ekologiskt! Att äta mat som man odlat själv gör dessutom att man uppskattar maten mer.</p>
            @*</div>*@
        </div>
    </div>

    <div class="card text-white bg-dark m-2" style="width: 18rem; min-height: 13rem">
        <div class="card-header">Förvara</div>
        <div class="card-body">
            @*<h5 class="card-title">Dark card title</h5>*@
            <p class="card-text">Att förvara maten rätt är både bra för plånboken och planeten. Sätt in kylvaror i kylen så fort som möjligt i tätslutande förpackningar, då håller maten längre och risken för att farliga bakterier förökar sig minskar. Frys in mat som du vill spara länge. </p>
        </div>
    </div>

    <div class="card bg-light text-dark m-2 bigScreen" style="width: 18rem; min-height: 13rem">
        <div class="card-header">Matsvinn</div>
        <img class="card-img-top" src="~/images/40261copy.jpg" alt="Card image" style="opacity: .2">
        <div class="card-body card-img-overlay">
            <div class="card-text pt-5">
                @*<h5 class="card-title">Danger card title</h5>*@
                <p class="card-text">Du kan minska ditt matsvinn mycket bara genom hur du lagar och framförallt planerar din matlagning. På <a href="https://www.livsmedelsverket.se/matvanor-halsa--miljo/miljo/ta-hand-om-maten-minska-svinnet/matsvinnskollen">Livsmedelsverket</a> hittar mer du information om hur du gör.</p>
                <a href="http://www7.slv.se/matsvinn" target="_blank" class="btn btn-primary">Gör testet</a>
            </div>
        </div>
    </div>

</div>