
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<partial name="_PartialInspiration" model="Model" /> <br />
<partial name="_PartialHowItWorks" model="Model" /> <br />
<partial name="_PartialWhyUseWasteland" model="Model" /> <br />

