
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<partial name="_PartialInspiration" model="Model" /> <br />
<partial name="_PartialSaFunkarDet" model="Model" /> <br />
<partial name="_PartialVarforWasteland" model="Model" /> <br />

