/*.signup, .login, .contact, .about {
    padding-top: 100px;
}*/

.item-form {
    /*max-width: 200px;*/
    /*display:flex;*/
}
/*.sloganBox{
    padding: 20px;
}*/

.sloganParagraph{
    /*margin-left: 50px;*/
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
}