body > footer > div.m-0.text-center.text-white.small.p-2.bd-highlight > div.d-flex.justify-content-center > a:nth-child(2) > p{
    padding-left:20px;
}


.arrow {
    max-width: 50px;
    max-height: 50px;
}

.bigScreen {
    display: block;
}

.smallScreen {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .bigScreen {
        display: none;
    }
    .smallScreen {
        display: block;
    }
}

body > section > div > form > div > div.g-recaptcha.col-4.justify-content-center.align-items-center.container > div {
    margin-left: 18px;
}

.partialviewforminput{
    min-width: 400px;
}

/* carousel */
#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}

    /* Control buttons  */
    #quote-carousel .carousel-control {
        background: none;
        color: #222;
        font-size: 2.3em;
        text-shadow: none;
        margin-top: 30px;
    }
        /* Previous button  */
        #quote-carousel .carousel-control.left {
            left: -12px;
        }
        /* Next button  */
        #quote-carousel .carousel-control.right {
            right: -12px !important;
        }
    /* Changes the position of the indicators */
    #quote-carousel .carousel-indicators {
        right: 50%;
        top: auto;
        bottom: 0px;
        margin-right: -19px;
    }
        /* Changes the color of the indicators */
        #quote-carousel .carousel-indicators li {
            background: #c0c0c0;
        }

        #quote-carousel .carousel-indicators .active {
            background: #333333;
        }

    #quote-carousel img {
        width: 250px;
        height: 100px
    }
/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

    .item blockquote img {
        margin-bottom: 10px;
    }

    .item blockquote p:before {
        content: "\f10d";
        font-family: 'Fontawesome';
        float: left;
        margin-right: 10px;
    }