<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ServerError</title>
</head>
<body>
    <div class="container p-5">
        <div class="row align-items-center justify-content-center">
            <div>
                <div style="width:100px">
                    <img class="img-fluid rounded" src="~/images/apple.png" alt="<p>Apple</q></p>">
                </div>
            </div>
            <div>
                <div class="justify-content-center" style="padding:20px">
                    <h1>Oh no! What a waste of your time!</h1>
                    <p>Något verkar ha gått snett. Vi försöker lösa problemet så snabbt som möjligt. <br />Until then - reduce, reuse, recycle!</p>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
