<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ServerError</title>
</head>
<body>
    <h2>ServerError</h2>
    <p>Något gick snett.</p>
</body>
</html>
